.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
}

.app-main {
  margin-left: 190px;
  min-width: 0;
}

@media (max-width: 768px) {
  .app-main {
    margin-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .app-main {
    margin-left: 160px;
  }
}
